extends home

block content
    link(rel='stylesheet', href='/stylesheets/product_style.css')
    form(action="") 
        div(class='main-content')
            div(class='page-header')
                div(class='search')
                    input(type="text", name="search-textbox")
                    button(class='btn-search') Search
                div(class='delete')
                    button(class='btn-delete') Delete
            div(class='page-content')#products
                table(class='product-table')
                    tr
                        th(class='checkbox-col')
                            input(type="checkbox", id='ids')
                        th(class='no-col') No.
                        th(class='produc-name-col') Product name
                        th(class='description-col') Description
                        th(class='quantily-col') Quantily
                        th(class='created-at-col') Created at
                        th(class='status-col') Status
                        th(class='action-col') Action

                    for product, index in products
                        tr 
                            td(class='checkbox-col')
                                input(type="checkbox", id=product.id)
                            td(class='no-col') #{index + 1}
                            td(class='product-name-col') #{product.preduct_name}
                            td(class='description-col') #{product.description}
                            td(class='quantily-col') #{product.quantily}
                            td(class='created-at-col') #{product.created_at}
                            td(class='status-col') #{product.status}
                            td(class='action-col')
        